body {
    font-family: system-ui, sans-serif;
    background-color: white;
    padding: 0 10px;
}

label.form-ui {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

#spinner {
    border: solid 5px #ddd;
    border-left: solid 5px #0379b0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
    display: none;
    vertical-align: middle;
    margin-left: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button.form-ui {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    height: 2rem;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

button.form-ui:hover {
    background-color: #1993d1;
}

button.form-ui:disabled {
    background-color: #ddd;
}

input.form-ui,
select.form-ui {
    max-width: auto;
    display: inline-block;
    margin: 5px;
    background-color: #eee;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 2px;
    padding-left: 10px;
}

input.form-ui {
    height: 40px;
    width: 90%;
}

input#date {
    width: 8rem;
}

select.form-ui {
    min-height: 40px;
}

div.form-ui {
    margin: 5px;
}

label.form-ui {
    display: inline-block;
    margin: 5px;
}

.tag-label {
	font-size: smaller;
	background-color: #eee;
	border-radius: 4px;
	padding: 0 .3em;
	margin-right: 1em;
	display: inline-block;
	line-height: 2em;
}

span#tag-span {
    line-height: 2.5em;
}

div#consent-box {
    display: flex;
}

div#tag-div {
    margin-top: 1em;
}

input#consent-check {
    cursor: auto;
    width: 20px;
    height: 20px;
}

input#captcha {
    width: 6rem;
    display: inline-block;
    vertical-align: bottom;
}

dialog {
    width: 50%;
    height: 600px;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px gray;
    vertical-align: middle;
}

#spinner-div {
    text-align: center;
    vertical-align: middle;
    margin-top: 268px;
}

img#checkmark {
    vertical-align: middle;
}

.confirm-dialog {
    margin: 10px 0;
}

button#cancel-btn:hover {
    background-color: red;
}
