.section-header,
.show-hide {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
}

.arrow {
    display: inline-block;
}

.rotated {
    transform: rotate(90deg);
    animation: turn 0.2s ease-in-out;
}

.plain {
    animation: unturn 0.2s ease-in-out;
}

div#auth-div {
    font-weight: bold;
    color: green;
    display: none;
    margin-bottom: 20px;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes unturn {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-0deg);
    }
}

#profs-display,
#courses-display {
    padding-left: 2rem;
}

input.wishes-ui {
    margin-top: 5px;
}

input#prof-name,
input#prof-name-2,
input#course-name {
    width: 250px;
}

input:invalid {
    outline: solid 2px red;
}

button.wishes-ui {
    margin: 0 5px;
}

#save-changes-btn {
    float: right;
    text-align: left;
    width: 110px;
}

#save-msg {
    float: right;
}

.wrapper {
    display: flex;
}

.container {
    max-width: 50%;
}

.show-hide {
    cursor: pointer;
}

.show-hide:hover {
    color: #0000cc;
}

.drawer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.spinner {
    border: solid 2px #ddd;
    border-left: solid 2px darkblue;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: none;
    vertical-align: middle;
    margin-left: 5px;
    float: right;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}