html,
body {
    background-color: #c4d0e6;
    max-height: 100vh;
}

h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

h2 {
    background-color: #a6b8d9;
    padding: 5px 10px;
    border-radius: 4px;
}

.container {
    width: 50%;
}

div#added-courses-list {
    background-color: white;
    max-height: 150px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    box-shadow: 0 0 10px 5px #a6b8d9;
}

th,
td {
    width: 16%;
    height: 1.5em;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

td:hover {
    background-color: #fff5f5
    ;
}

div#instructions {
    font-weight: bold;
    text-decoration: underline;
    color: darkblue;
    margin: 10px 0;
    cursor: pointer;
}

dialog#confirm-dialog,
dialog#instructions-dialog {
    text-align: left !important;
}

.btn-span {
    color: white;
    background-color: darkblue;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: small;
    vertical-align: top;
}

button#send-btn {
    width: 20%;
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: center;
    font-size: small;
}

span#meef-warning {
    font-weight: bold;
    color: black;
    background-color: #ffcc00;
    padding: 4px;
    border-radius: 4px;
}

span#meef-warning span {
    text-decoration: underline double;
}

.dispo-check {
    vertical-align: middle;
    display: inline-block;
}

input#dispo-check {
    height: 2em;
    width: 2em;
}
