html,
body {
    background-color: #c4d0e6;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 100%;
}

@media (min-aspect-ratio: 1/1) {
    .wrapper {
        flex-direction: row;
    }
}

h2 {
    background-color: #a6b8d9;
    padding: 5px 10px;
    border-radius: 4px;
}

.container {
    min-width: 50%;
}

.token-input {
    min-width: auto !important;
    max-width: 50%;
}

div#added-courses-list {
    background-color: white;
    /* max-height: 150px; */
    min-width: 50%;
    width: 90%;
}

div.added-course-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* transition: background-color 0.6s ease-in-out; */
}

div.added-course-item.fade-out {
    transition: background-color 0.6s ease-in-out;
}

input.added-course-item-nb {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

button.delete-btn,
button.delete-btn:hover {
    background: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    box-shadow: 0 0 10px 5px #a6b8d9;
}

th,
td {
    width: 16%;
    height: 1.5em;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

td:hover {
    background-color: #fff5f5;
}

div#instructions {
    font-weight: bold;
    text-decoration: underline;
    color: darkblue;
    margin: 10px 0;
    cursor: pointer;
}

dialog#first-time div p {
    line-height: 2em;
}

dialog#confirm-dialog,
dialog#instructions-dialog {
    text-align: left !important;
}

.btn-span {
    color: white;
    background-color: darkblue;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: small;
    vertical-align: top;
}

button#send-btn {
    width: 20%;
}

button#go-btn {
    width: 92px;
}

span#meef-warning {
    font-weight: bold;
    color: black;
    background-color: #ffcc00;
    padding: 4px;
    border-radius: 4px;
}

span#meef-warning span {
    text-decoration: underline double;
}

.dispo-check {
    vertical-align: middle;
    display: inline-block;
}

input#dispo-check {
    height: 2em;
    width: 2em;
}

textarea.wishes-ui {
    width: 95%;
    height: 70px;
    resize: none;
    font-family: system-ui, sans-serif;
    padding: 10px;
}

button#yes-btn {
    width: 100px;
}

.spinner {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid darkblue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button:disabled {
    cursor: not-allowed;
}
