body {
    font-family: system-ui, sans-serif;
}

label.wishes-ui {
    font-weight: bold;
}

div {
    margin: 5px;
}

input.wishes-ui,
select.wishes-ui {
    width: 150px;
    height: 32px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 4px;
    padding-left: 5px;
}

select.wishes-ui {
    height: 36px;
}

button.wishes-ui {
    height: 34px;
    border: none;
    background-color: darkblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0 8px;
    margin-right: 5px;
}

button.wishes-ui:hover {
    background-color: #0000cc;
}

.reset-btn {
    background-color: #cc0000 !important;
    display: inline-block;
}

.reset-btn:hover {
    background-color: red !important;
}

div#course-info {
    background-color: #eee;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
}

div#save {
    height: 60px;
}

div#added-courses-list {
    max-height: 250px;
    overflow-y: scroll;
    width: max-content;
    scrollbar-width: thin;
    border: solid 1px gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

dialog {
    border: solid 1px gray;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px gray;
    width: 33%;
}

div#prof-summary {
    font-weight: bold;
}

button.cancel:hover {
    background-color: red;
}

button.confirm:hover {
    background-color: green;
}

.btn {
    float: right;
    margin-left: 2px;
}
