body {
    padding: 20px;
    font-family: system-ui;
}

.header {
    width: 50vw;
    text-align: center;
    font-family: 'Optima', system-ui;
    font-weight: bold;
    color: darkblue;
    text-shadow: 0 0 5px #eee;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

@media (max-aspect-ratio: 1/1) {
    .header {
        width: 100vw;
    }
    .wrapper {
        width: 90vw;
    }
}

.auth-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.auth-btn {
    width: 200px;
}

.ok-btn {
    width: 55px;
    height: 35px;
}

.spinner {
    border: solid 3px white;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 0;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bsky-auth-spinner {
    border-left: solid 3px #004280;
}

.compose-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.text-div,
.img-div,
.btn-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    border: solid 1px gray;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 20em;
    background-color: white;
    box-shadow: 0 0 10px gray;
    margin-bottom: 10px;
    padding: 10px;
}

.counter {
    width: 100%;
    text-align: right;
    font-family: system-ui;
    color: gray;
    text-align: right;
    margin-bottom: 10px;
}

.dropzone {
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px gray inset;
    background-color: #eee;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.img-upload {
    display: none;
    position: absolute;
}

div#img-instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: gray;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.dropzone:hover {
    background-color: #ddd;
    text-shadow: 0 0 10px white;
}

.img-preview {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.img-preview div {
    position: relative;
    margin: 5px;
}

.img-preview img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.remove-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 50%;
    border: none;
    position: absolute !important;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
}

.remove-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

div.overlay {
    display: none;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    justify-content: space-around;
}

div.overlay-hint {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    color: black;
    text-shadow: 0 0 10px white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    transition: background-color 0.2s;
}

button:disabled {
    color: gray !important;
    background-color: #ddd !important;
    cursor: not-allowed;
}

button.x-btn {
    background-color: black;
    color: white;
}

button.x-btn:hover {
    background-color: darkslategray;
}

button.bsky-btn {
    background-color: rgb(0, 133, 255);
    color: white;
}

button.bsky-btn:hover {
    background-color: #0077e6;
}

button.masto-btn {
    background-color: #6364ff;
    color: white;
}

button.masto-btn:hover {
    background-color: #563acc;
}

button.bsky-btn,
button.masto-btn {
    width: 132px;
}

.masto-spinner {
    border-left: solid 3px #563acc;
}

dialog {
    font-family: system-ui;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px gray;
    border: none;
    border-radius: 10px;
    background-color: white;
}

dialog div {
    margin: 5px;
}

div.instance-input {
    display: inline-block;
    margin: 10px;
}

dialog input {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
}

dialog button {
    background-color: #6364ff;
    color: white;
}

dialog button:hover {
    background-color: #563acc;
}
